body {
  font-family: sans-serif;
  font: ‘Helvetica';
  font-size: 30px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  height: 60px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
}
#reset {
  border-width: 1px solid black;
  font-style: bold;
}
.player1Checked {
  background-color: rgb(124, 252, 0);
}
.player2Checked {
  background-color: rgb(250, 128, 114);
}
